{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="shop_card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="card p-3">
                    <h6 class="text-uppercase" style="color: #2f2f2f">Ödeme Detayları</h6>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="inputbox mt-3 ">
                                <input type="text" name="name" class="form-control" required="required">
                                <span>Kart Üzerindeki İsim</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <i class="fa fa-credit-card"></i> <span>Kart Numarası</span> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-row">
                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Valid THRU</span> </div>
                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>CVV</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-4">
                        <h6 class="text-uppercase" style="color: #2f2f2f">Fatura Adresi</h6>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Adres</span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>İlçe</span> </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>İl</span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2">
                                    <input type="text" name="name" class="form-control" required="required">
                                    <span>Posta Kodu</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back-to-shop"><a href="#" class="fa fa-arrow-left"></a><span class="text-muted"> Önceki adım</span></div>
            </div>
            <div class="col-md-4 summary">
                <div class="card  p-3 mb-3"> <span>Toplam Tutar</span>
                    <div class="d-flex flex-row align-items-end mb-3">
                        <h1 class="mb-0 ">&#8378; <span class="total-kargo"></span></h1>
                    </div>
                    <p> Bir milletin büyüklüğü ve ahlaki gelişimi, hayvanlara olan davranış biçimi ile değerlendirilir.</br>-Mahatma Gandhi</p>

                </div>
                <form style="padding: 2vh 0">
                    <p>Kumbara / Adres </p>
                    <select style="border: 1px solid rgba(0, 0, 0, 0.137);padding: 1.5vh 1vh; margin-bottom: 4vh;outline: none;width: 100%;background-color: rgb(247, 247, 247)">
                        <option class="text-muted">Adrese teslim</option>
                        {% for feedbank in feedbanks %}
                        {% if feedbank.user.is_staff %}
                        <option class="text-muted">{{feedbank.feedbank_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <button class="btn btn-block" data-toggle="modal" data-target="#odemeModal">ÖDEME</button>
            </div>
        </div>
    </div>

    <div id="odemeModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fa fa-check"></i>
                    </div>
                    <h4 class="col-12 text-center">Harika!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Ödemeniz onaylandı. Bizi tercih ettiğiniz için teşekkür ederiz.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" data-dismiss="modal">TAMAM</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" >
        <div class="row">
            <div class="col-12">
                <img src="{% static 'img/odeme.svg'%}" style="width:350px;height:350px;display: block;margin-left: auto;margin-right: auto;">
            </div>
        </div>
    </div>

    
    {% endblock content %}